@{
    ViewData["Title"] = "Google for a Day Search";
}
@model SearchEngine.UI.Models.SearchModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="post">
        <p>
            <input type="text" id="searchWord" placeholder="Search Word Goes Here" name="searchWord" />
            <input type="submit" value="go" />
        </p>
        <p>
            @Html.ValidationMessageFor(m => m.SearchWord, null, new { @class = "text-danger" })
        </p>
        @if (Model != null && Model.WordMatches != null)
        {
            <p>
                Found @Model.WordMatches.Count results
            </p>
            @foreach (var item in Model.WordMatches)
            {
                <p>
                    <a href="@item.Url">@item.Title</a>
                    Occurrences: @item.WordCount
                </p>
            }
        }
    </form>
</div>
